{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}

Lista de Partes
{% endblock title %}

{% block content %}

<div class="row ">
    <form method="get">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" class="form-control" name="busca" placeholder="Buscar no corpo do texto da parte">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Pesquisar</button>
                </span>
            </div>
        </div>
    </form>
</div>
<br>
<div class="row">
    {% for parte in lista %}
    <div class="col s8">
        <div class="card-panel grey lighten-5">
            <!-- <a href="/admin/part/parte/{{parte.pk}}">-->
            <p style="background-color:#37474f; text-align:center;color:white;">{{parte.status}} - {{parte.tipoParte}}</p>
            <p><b>Parte nº: {{parte.id}}</b></p>
            <p>Solicitante: <b> {{parte.author.profile.graduacao}} {{parte.author.get_full_name}}</b></p>
            <p>RG: {{parte.author.profile.rg}}</p>
            {{parte.descricao|safe}}
            <!--<div class="card-content green-text">
                <p>Data inicio: {{parte.data_inicio}}</p>
                <p>Data fim: {{parte.data_fim}}</p>
            </div> -->
            <div class="center">
                {% if parte.upload %}
                   <img src="{{ parte.upload.url }}" class="img-responsive" alt="{{ parte.upload }}" style="text-align:center; width:300px; heigth:200px;" />
                    <p>
                        <div class="center btn-floating waves-effect waves-light blue z-depth-2 ">
                            <a title="Download do Anexo" href="{{ parte.upload.url }}">
                                <i class="small material-icons">cloud_download</i>
                            </a>
                        </div>
                    </p>
                {% endif %}
            </div>
            <p class="card-content green-text">Data de criação: {{parte.data_criacao}}</p>
            {% if parte.boletim_interno != None %}
                <div class="card-content red-text">
                    <p>Boletim Interno: {{parte.boletim_interno}}</p>
                    <p>Data de publicação: {{parte.data_publicacao}}</p>
                </div>
            {% endif %}

            <!--  </a>-->


            <div class="container">
                {% if user.is_authenticated and user != parte.author %}
                    {% if parte.boletim_interno == None or user.profile.setor.setor == 'P1' %}
                        {% if user.profile.nivelAutorizacao.nivel != 'nenhum' %}
                            {% if parte.status != 'PUBLICADO' %}
                                <div class="center btn-floating waves-effect waves-light green z-depth-2 ">
                                    <a title="Despachar" href="{% url 'validacao_new' pk=parte.pk %}">
                                        <i class="small material-icons">gavel</i>
                                    </a>
                                </div>
                            {% endif %}
                 <!--
                            <div class="center btn-floating waves-effect waves-light red z-depth-2 ">
                                <a title="Negar a parte" href="{% url 'negado' pk=parte.pk %}">
                                    <i class="small material-icons">block</i>
                                </a>
                            </div>
                            -->
                        {% endif %}

                        <div class="right center btn-floating waves-effect waves-light blue z-depth-2 ">
                            <a title="Encaminhar Parte" href="{% url 'encaminhar_parte' pk=parte.pk %}">
                                <i class="small material-icons">send</i>
                            </a>
                        </div>
                    {% endif %}
                    {% if parte.status == 'AUTORIZADO' %}
                        <div class="center btn-floating waves-effect waves-light yellow z-depth-2 ">
                           <a title="Publicar Parte" href="{% url 'parte_edit' pk=parte.pk %}">
                              <i class="small material-icons">event_available</i>
                           </a>
                        </div>
                    {% endif %}
                {% endif %}
                {% if parte.status == 'NOVA' %}
                        <div class="center btn-floating waves-effect waves-light red z-depth-2 ">
                           <a title="Editar Parte" href="{% url 'editar' pk=parte.pk %}">
                              <i class="small material-icons">event_available</i>
                           </a>
                        </div>
                    {% endif %}
                <div class="center btn-floating waves-effect waves-light gray z-depth-2 ">
                    <a title="Exportar para PDF" href="{% url 'exportToPdf' pk=parte.pk %}">
                        <i class="small material-icons">picture_as_pdf</i>
                    </a>
                </div>

            </div>


        </div>

    </div>
    <div class="col s4">
        <div class="card-panel lime accent-2">
            {% for validacao in validations %}
            {% if validacao.parte.pk == parte.pk %}
            <div>
                <div>
                    <!--<a href="/admin/part/validacao/{{validacao.pk}}"> -->
                    <p style="background-color:#37474f; text-align:center;color:white;">Despacho do {{ validacao.user_validacao.profile.graduacao }} - {{ validacao.user_validacao.profile.nome_guerra }}</p>
                        {{ validacao.observacao | safe}} <br>
                        <br>

                    <!--</a>-->
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% for setor in setores %}
            {% if setor.parte.pk == parte.pk %}
            <div>
                <div style="color: Tomato;">
                    <li>{{ setor.observacao }}</li>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}