{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}

Lista de Partes
{% endblock title %}

{% block content %}

<div class="row ">
    <form method="get">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" class="form-control" name="busca" placeholder="Buscar no corpo do texto da parte">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Pesquisar</button>
                </span>
            </div>
        </div>
    </form>
</div>
<br>
<div class="row">
    {% for parte in lista %}
    <div class="col s8 m4">
        <div class="card-panel grey lighten-5">
            <a href="/admin/part/parte/{{parte.pk}}">
               <!-- <img src="{{hora.foto.url}}" style="width:100%"> -->

                   <p style="background-color:#37474f; text-align:center;color:yellow;">{{parte.status}}</p>
                   <p>Solicitante: {{parte.author.get_full_name}}</p>
                   <p>{{parte.descricao}}</p>
                   <p>Data de inicio: {{parte.data_inicio}} - Data de fim: {{parte.data_fim}}</p>
                   <p>Data de criação: {{parte.data_criacao}}</p>

            </a>
            <div class="btn-floating btn-large waves-effect waves-light green z-depth-2 ">
                    {% if user.is_authenticated %}
                         <a href="{% url 'validacao_new' pk=parte.pk %}">
                          <i class="small material-icons">gavel</i>
                         </a>
                     {% endif %}
            </div>
        </div>

    </div>
    <div class="col s4 m2">
        <div class="card-panel lime accent-2">
            {% for validacao in validations %}
                {% if validacao.parte.pk == parte.pk %}
                    <div>
                        <div>
                            <a href="/admin/part/validacao/{{validacao.pk}}">
                                <li>{{ validacao.observacao }}</li>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}